label {
    color: white
}

body {
    background-color:rgb(32, 70, 32)
}

h1 {
    color: white;
}
.botao {  
    background-color: blueviolet;
} /* O .ponto do comando .botão está associado ao comando class*/
